In [19]:
import pandas as pd
import numpy as np

In [20]:
dataset = pd.read_excel('environtental.xlsx')
dataset

,QuesionnaireNo,Expenditure,Household_Income,Province,Municipality,Area,UrbanPeriUrbanRural,@1.DEMOGRAPHICS,Q1.WhatisyourGender,Q2.Inwhatyearwereyouborn,...,hDoesyourhouseholdownacar,Q7.Arealladultsaged15to64inthehouseholdunemployed,GENERAL,ICT,InformationDataLiteracy,Communication_Collaboration,Safety,ProblemSolving,Age_Bins,Employment_Bins
0,2618,600.0,1,Eastern Cape,Sundays River Valley,Kirkwood,Rural,NaN,1,1988.0,...,0,1,2.333333,5.000000,5.0,1.666667,2.714286,4.2,1.0,0
1,2556,1200.0,2,Eastern Cape,Sundays River Valley,Kirkwood,Rural,NaN,2,1993.0,...,1,1,1.555556,2.222222,1.7,1.000000,1.714286,1.4,1.0,0
2,2504,1500.0,1,Eastern Cape,Sundays River Valley,Kirkwood,Rural,NaN,1,1986.0,...,0,0,3.000000,3.000000,1.0,1.000000,1.000000,1.0,1.0,0
3,2574,1500.0,1,Eastern Cape,Sundays River Valley,Kirkwood,Rural,NaN,1,1986.0,...,1,1,1.111111,3.777778,4.0,4.000000,2.571429,4.8,1.0,0
4,2587,1500.0,2,Eastern Cape,Sundays River Valley,Kirkwood,Rural,NaN,2,1987.0,...,0,1,1.000000,4.000000,1.2,2.000000,4.428571,3.6,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2288,1500.0,1,Western Cape,City Of Cape Town,Cape Town,Urban,NaN,1,2002.0,...,1,0,2.333333,4.000000,3.7,3.000000,3.285714,3.8,0.0,2
2996,2159,NaN,7,Western Cape,City Of Cape Town,Cape Town,Urban,NaN,2,1995.0,...,1,1,3.000000,4.000000,3.9,2.666667,3.142857,3.4,1.0,2
2997,2485,1500.0,1,Western Cape,City Of Cape Town,Cape Town,Urban,NaN,1,1996.0,...,1,0,1.777778,2.777778,1.8,2.000000,2.714286,2.2,1.0,2
2998,2091,2000.0,2,Western Cape,Drakenstein,Paarl,Rural,NaN,1,1953.0,...,1,0,1.000000,1.000000,1.3,1.000000,1.285714,1.0,3.0,3
2999,2491,1000.0,1,Western Cape,City Of Cape Town,Cape Town,Urban,NaN,1,1999.0,...,0,0,2.333333,3.666667,3.3,2.000000,2.142857,3.0,1.0,4

In [21]:
eda_df = data.copy()

NameError: name 'data' is not defined

In [22]:
eda_df = dataset.copy()

In [23]:
eda_df.shape

(3000, 289)

In [26]:
eda_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Columns: 289 entries, QuesionnaireNo to Employment_Bins
dtypes: float64(70), int64(214), object(5)
memory usage: 6.6+ MB

In [27]:
eda_df.describe()

,QuesionnaireNo,Expenditure,Household_Income,@1.DEMOGRAPHICS,Q1.WhatisyourGender,Q2.Inwhatyearwereyouborn,Age,Q3.Populationgroupchooseonlyone,Q4.FirstLanguagechooseonlyone,Q5.ProvinceofResidenceinSouthAfricachooseonlyone,...,hDoesyourhouseholdownacar,Q7.Arealladultsaged15to64inthehouseholdunemployed,GENERAL,ICT,InformationDataLiteracy,Communication_Collaboration,Safety,ProblemSolving,Age_Bins,Employment_Bins
count,3000.000000,2841.000000,3000.000000,0.0,3000.000000,2814.000000,2813.000000,3000.000000,2996.000000,3000.000000,...,3000.000000,3000.000000,3000.000000,3000.000000,2999.000000,2999.000000,3000.000000,3000.000000,2811.000000,3000.000000
mean,1501.350000,2245.244632,3.209333,NaN,1.500333,1987.103767,31.895841,1.293000,5.707276,5.083000,...,0.519333,0.229000,2.030037,2.539630,2.420707,2.279204,2.410905,2.632000,1.308431,0.888667
std,866.037461,1615.950465,2.024569,NaN,0.500083,9.890760,9.892496,0.708979,3.215171,2.597376,...,0.499709,0.420259,0.650919,0.929180,0.892823,0.906411,0.820951,0.909504,0.513030,0.696970
min,2.000000,100.000000,1.000000,NaN,1.000000,1909.000000,15.000000,1.000000,1.000000,1.000000,...,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000
25%,751.750000,1300.000000,2.000000,NaN,1.000000,1982.000000,25.000000,1.000000,4.000000,3.000000,...,0.000000,0.000000,1.777778,2.000000,1.900000,2.000000,2.000000,2.000000,1.000000,0.000000
50%,1501.500000,2000.000000,2.000000,NaN,2.000000,1989.000000,30.000000,1.000000,5.000000,4.500000,...,1.000000,0.000000,2.000000,2.222222,2.200000,2.000000,2.285714,2.400000,1.000000,1.000000
75%,2250.250000,3000.000000,4.000000,NaN,2.000000,1994.000000,37.000000,1.000000,8.000000,7.250000,...,1.000000,0.000000,2.333333,3.000000,2.800000,2.666667,2.714286,3.200000,2.000000,1.000000
max,3001.000000,15000.000000,7.000000,NaN,2.000000,2004.000000,110.000000,5.000000,13.000000,9.000000,...,1.000000,1.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,3.000000,4.000000

In [28]:
eda_df.Household_Income.value_counts()

2    924
1    587
7    479
3    465
4    354
5    117
6     74
Name: Household_Income, dtype: int64

In [30]:
import seaborn as sns

In [31]:
eda_df.columns

Index(['QuesionnaireNo', 'Expenditure', 'Household_Income', 'Province',
       'Municipality', 'Area', 'UrbanPeriUrbanRural', '@1.DEMOGRAPHICS',
       'Q1.WhatisyourGender', 'Q2.Inwhatyearwereyouborn',
       ...
       'hDoesyourhouseholdownacar',
       'Q7.Arealladultsaged15to64inthehouseholdunemployed', 'GENERAL', 'ICT',
       'InformationDataLiteracy', 'Communication_Collaboration', 'Safety',
       'ProblemSolving', 'Age_Bins', 'Employment_Bins'],
      dtype='object', length=289)

In [32]:
eda_df.Province.value_counts()

Kwazulu Natal    500
Western Cape     500
Gauteng          499
Northwest        251
Northern Cape    250
Free State       250
Limpopo          250
Eastern Cape     250
Mpumalanga       250
Name: Province, dtype: int64

In [33]:
eda_df.Municipality.value_counts()

City of Joburg          450
City Of Cape Town       400
Mbombela                250
Emondlo                 250
eThekhwini              250
Sol-Plaatjie            225
Mangaung                200
Makhado                 174
Greater Taung           150
Sundays River Valley    125
Nelson Mandela Bay      125
Drakenstein             100
Rustenburg               76
Capricorn                51
Manstopa                 50
Sedibeng                 49
Madibeng                 25
Ga-Segonyana             25
Thulamela                25
Name: Municipality, dtype: int64

In [34]:
eda_df.Area.value_counts()

Cape Town         350
Johannesburg      310
eMondlo           250
Kimberley         175
Tshakhuma         174
Durban            150
Bloemfontein      150
Taung             150
Kanyamazane       125
Kirkwood          125
Alexandra         100
Port Elizabeth    100
Umlazi            100
Paarl             100
Nelspruit         100
Rustenburg         76
Polokwane          51
Khayelitsha        50
Galeshewe          50
Botshabelo         50
Thaba Nchu         50
Orange Farm        49
Bramley            40
Thohoyandou        25
White River        25
Haartebeesport     25
KwaZakhele         25
Barkley West       25
Name: Area, dtype: int64

In [35]:
eda_df.UrbanPeriUrbanRural.value_counts()

Urban         1502
Rural          824
Township       549
Peri-Urban     125
Name: UrbanPeriUrbanRural, dtype: int64

In [38]:
eda_df.InformationDataLiteracy.value_counts()

2.0    342
2.1    209
2.2    194
1.7    187
2.3    163
1.9    154
1.8    151
2.4    127
2.5    124
2.6     97
5.0     95
1.6     88
3.0     84
2.7     84
2.8     81
1.5     74
2.9     64
1.0     61
1.4     57
3.2     54
1.3     50
4.0     48
3.1     45
1.2     43
3.3     36
3.5     34
3.6     29
3.4     29
4.8     26
1.1     22
4.3     22
4.1     21
3.9     19
3.8     16
4.2     14
4.6     13
4.4     13
3.7     11
4.7      8
4.5      6
4.9      4
Name: InformationDataLiteracy, dtype: int64

In [41]:
#cleaning the data
eda_df.isnull().sum()

QuesionnaireNo                   0
Expenditure                    159
Household_Income                 0
Province                         0
Municipality                     0
                              ...
Communication_Collaboration      1
Safety                           0
ProblemSolving                   0
Age_Bins                       189
Employment_Bins                  0
Length: 289, dtype: int64

In [44]:
#configuring the columns with a lot of null values
for x in range(1,290):
    if (eda_df.isnull().sum() <= 10):
        print(eda_df)

NameError: name 'column' is not defined